// Основная кнопка
.btn-primary {
	background-color: rgba(255,255,255,0.1);
	border-radius: 50px;
	border-color: #fff;
	padding: 10px 30px;

	&:hover {
		border-color: #fff;
    	background-color: rgba(255, 255, 255, 0.30);
    	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
}