.adventages__wrapper {
	position: relative;
	overflow: hidden;
	background: linear-gradient(180deg, rgba(122,92,106,1) 0%, rgba(160,130,147,0.5) 50%, rgba(255,255,255,1) 100%);;
}

// Видео background
.adventages__video {
	z-index: -2;
	object-fit: cover;
	height: 100%;
	position: absolute;
	top: 0;
	left: -35%;
	// background-color: #9B8092;
	// opacity: 0.3;
	
}

// Внутрение отступы для заголовка
.head-row {
	padding-top: 30px;
	padding-bottom: 15px;
}

// Выравниваем блок по центру
.head-col {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.head-title {
	color: #fff;
	font-size: 27px;
	font-weight: bold;
}

// .head-title {
// 	// Вставляем ветки
// 	&::before,
// 	&::after {
// 		// content: url("../img/icon__phone.svg");
// 		content: "Ветка";
// 	}
// 	&::after {
// 		padding-left: 30px;
// 		// Не работает
// 		// transform: scaleX(-1);
// 	}
// 	&::before {
// 		padding-right: 30px;
// 	}
// }

.adventages__col {
	text-align: center;
	padding: 0 10px;
	padding-bottom: 30px;
}

// Цвет иконок
.adventages__icon {
	fill: #fff;
}

// Текст иконок
.adventages__sub-title {
	color: #fff;
	font-size: 13px;
	padding: 15px 0px;
}
@media (min-width: @iphone-6) {
	.adventages__sub-title {
		font-size: 15px;
	}
}
@media (min-width: @iphone-6-plus) {
	.adventages__sub-title {
		font-size: 17px;
	}
}
@media (min-width: @iphone-plus) {
	.adventages__sub-title {
		font-size: 20px;
	}
}