// Внутрение отступы для заголовка
.head-row {
	padding-top: 30px;
	padding-bottom: 15px;
}

// Выравниваем блок по центру
.head-col {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.head-title {
	font-size: 27px;
	font-weight: bold;
}

// .head-title {
// 	// Вставляем ветки
// 	&::before,
// 	&::after {
// 		// content: url("../img/icon__phone.svg");
// 		content: "Ветка";
// 	}
// 	&::after {
// 		padding-left: 30px;
// 		// Не работает
// 		// transform: scaleX(-1);
// 	}
// 	&::before {
// 		padding-right: 30px;
// 	}
// }

.adventages__col {
	text-align: center;
	padding: 0 10px;
}

.adventages__sub-title {
	font-size: 13px;
	padding: 15px 0px;
}

@media (min-width: @iphone-6) {
	.adventages__sub-title {
		font-size: 15px;
	}
}
@media (min-width: @iphone-6-plus) {
	.adventages__sub-title {
		font-size: 17px;
	}
}
@media (min-width: @iphone-plus) {
	.adventages__sub-title {
		font-size: 20px;
	}
}