.header-offer {
    text-align: center;

    color: #fff;
}

// БАГ, вытянул JS
.header-offer__container--close {
	z-index: 1;
}

// Верхний текст
.header-offer__h2 {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 0;
    font-size: 27px;
    line-height: 1;
}
.header-offer__h2--small {
    font-size: 18px;
}
@media (min-width: @iphone-6) {
	.header-offer__h2 {
	    font-size: 32px;
	}
	.header-offer__h2--small {
	    font-size: 23px;
	}
}
@media (min-width: @iphone-plus) {
	.header-offer__h2 {
	    font-size: 50px;
	}
	.header-offer__h2--small {
	    font-size: 35px;
	}
}
@media (min-width: @ipad) {
	.header-offer__h2 {
	    font-size: 72px;
	}
	.header-offer__h2--small {
	    font-size: 50px;
	}
}
@media (min-width: 320px) and (max-width: @desktop-width) and (orientation: landscape) and (max-height: @iphone-plus) {
	.header-offer__h2 {
		margin-top: 10px;
	    font-size: 20px;
	}
	.header-offer__h2--small {
	    font-size: 14px;
	}
}

// Нижний текст
.header-offer__h1 {
    font-size: 17px;

    margin-top: 30px;
    margin-bottom: 30px;
}
@media (min-width: @iphone-6) {
	.header-offer__h1 {
	    // font-size: 32px;
	}
}
@media (min-width: @iphone-plus) {
	.header-offer__h1 {
	    font-size: 26px;
	}
}
@media (min-width: @ipad) {
	.header-offer__h1 {
	    font-size: 32px;
	}
}

@media (min-width: 320px) and (max-width: @desktop-width) and (orientation: landscape) and (max-height: @iphone-plus) {
	.header-offer__h1 {
	    font-size: 14px;
		margin-top: 10px;
		margin-bottom: 10px;	
	}
}


// Кнопка "Организовать свидание"
.icon__heart {
	margin-right: 15px;
}
// Кнопка "Подробнее"
.btn-primary--more {
	background: transparent !important;
	border: none !important;
}
.icon__arrow {
	fill: #fff;
}
