.site-list__item--logo {
    position: absolute;
    top: 30px;
    left: 25%;
}

.page-header__logo
{
    // position: absolute;
    // top: 20px;
    // // Удалить
    // left: 22%;

    list-style: none;

    background: #000;
    // order: 2;
}

.main-nav__btn
{
    // Удалить
    font-size: 0;

    width: 44px;
    height: 44px;

    border: 1px solid #fff;
    border-radius: 100%;
    background: #000;
}

.main-nav__btn--right
{
    text-align: right;
}

.site-list {
    margin-top: 170px;
    list-style: none;
    // margin: 0;
    text-align: center;
}
