// Переменные (вынести в отдельный файл)
@tablet-width: 768px;
@desktop-width: 992px;

// Фоновый рисунок + градиент (на всякий) для блока
.page-header__wrapper {
    background-image: url("../img/header-bg--desktop.webp"), linear-gradient(180deg, rgba(57,40,39,1) 0%, rgba(132,68,27,1) 35%, rgba(151,131,32,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

// Растягиваем высоту блока на весь экран
.page-header {
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    // Для закрепления меню бургера и кнопки звонка
    position: relative;
}

// Кнопка меню (бургер)
.main-nav__btn--menu::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 8px;
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}

// Кнопка меню (бургер) + кнопка (звонок)
.main-nav__btn {
    position: absolute;
    z-index: 11;
    width: 44px;
    height: 44px;
    border: 1px solid #fff;
    border-radius: 100%;
}

// Открытое меню (бургер)
.main-nav--opened .main-nav__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;

    background-color: #6a4d38;
}

.main-nav--closed .main-nav__wrapper {
    display: none;
}

.main-nav__btn--call {
    right: 0;
}

// Изменяем порядок списка (лого наверх)
.site-list__item-logo {
    order: -1;
}

// Элементы списка
.site-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


// .site-list {
//     display: flex;
//     flex-direction: column;
//     margin-top: 15px;
//     margin-bottom: 0;
//     list-style: none;
//     text-align: center;
//     z-index: 2;
// }

// @media (min-width: @desktop-width) {
//     .site-list {
//         flex-direction: row;
//         margin-top: 70px;

//         // display: inline-block;
//     }
// }

// .site-list__item {
//     min-width: 120px;
// }

// .site-list__link {
//     text-decoration: none;
//     color: #fff;
//     font-size: 18px;
//     text-transform: uppercase;
//     display: block;
// }

// .main-nav__list--right {
//     justify-content: flex-end;
// }

// временно
.bg {
    background: #000;
}

// ВООБЩЕ НЕ ИЗ ШАПКИ
.header-offer {
    margin-top: 30px;
    text-align: center;
}

.header-offer__h2 {
    font-size: 29px;
}
.header-offer__h2--small {
    font-size: 20px;
}

.header-offer__h1 {
    font-size: 18px;
}

.btn-primary--icon-heart {
    &::before {
        content: "<3";
        margin-right: 15px;
    }
}