// ОТДЕЛЬНЫЙ ФАЙЛ
body {
    min-width: 320px;
}

// временно
.bg {
    background: #000;
}

// Фоновый рисунок + градиент для блока
.page-header__wrapper {
    // Растягиваем высоту блока на весь экран
    height: 100vh;
    background-color: #7a5c6a;
    background-image: url('../img/header-bg--desktop.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // z-index: -2;
    position: relative;


    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // Накладываем на фон дополнительный цвет + прозрачность (фикс JS)
    &::after {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        content: '';
        // градиент бесшовного перехода
        background: linear-gradient(0deg, rgba(122,92,106,1) 0%, rgba(147,128,138,0.3) 10%, rgba(0,0,0,0.5) 100%);
    }
}

.header-fix {
    padding: 0;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
// Растягиваем container-fluid на десктопе
@media (min-width: @desktop-width) {
    .page-header__wrapper {
        padding: 0;
    }
}

// Стилизация расположения эл-ов внутри хедера
.page-header {
    // z-index: 1;
    display: flex;
    flex-direction: column;

    padding-top: 30px;

    justify-content: space-between;
}
@media (min-width: @desktop-width) {
    // Цвет background меню для десктопа
    .page-header {
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,.7) 0%, rgba(0,0,0,.1) 80%, rgba(0,0,0,0) 100%);
    }
}

.main-nav {
    // z-index: 1;
    padding: 0;
}
@media (min-width: @desktop-width) {
    .main-nav {
        padding: 0 15px;
    }
}

// Лого сайта
#logo-ru {
    fill: #fff;
}

// Изменяем размер логотипа для медиа
@media (min-width: @iphone-6) {
  .site-list__item-logo--svg {
    height: 170px;
    width: 170px;
  } 
}
@media (min-width: @iphone-6-plus) {
  .site-list__item-logo--svg {
    height: 200px;
    width: 200px;
  } 
}
@media (min-width: @iphone-plus) {
  .site-list__item-logo--svg {
    height: 250px;
    width: 250px;
  } 
}


.main-nav--mobile {
    // Для закрепления меню бургера и кнопки звонка
    display: flex;
    justify-content: center;
}
// Скрываем кнопки для мобильного на десктопе
@media (min-width: @desktop-width) {
    .main-nav--mobile {
        display: none;
    }
}

// Кнопка меню (бургер) + кнопка (звонок)
.main-nav__btn {
    position: fixed;
    z-index: 11;

    width: 44px;
    height: 44px;

    border: 0;
    border-radius: 100%;
    background-color: #ABABAB;
}

// Кнопка меню (бургер)
.main-nav__btn--menu {
    left: 15px;
}

.main-nav__btn--menu::before {
    position: absolute;
    top: 12px;
    left: 10px;

    width: 25px;
    height: 3px;

    content: '';

    background-color: #fff;
    box-shadow: 0 8px 0 0 #fff, 0 16px 0 0 #fff;
}

// Лого и меню поверх градиента
.main-nav__wrapper {
    z-index: 1;
}

// Открытое меню (бургер)
.main-nav--opened .main-nav__wrapper {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: #000;
}

.main-nav--opened .header-offer__container {
    // z-index: -4;
}

// Скрываем меню по умолчанию на мобильном
.main-nav--closed .main-nav__wrapper {
    display: none;
}
// Открываем меню по умолчанию на десктопе
@media (min-width: @desktop-width) {
    .main-nav--closed .main-nav__wrapper {
        display: block;
    }
}

// Кнопка звонок
.main-nav__btn--call {
    right: 15px;
}
.icon__phone {
    fill: #fff;
}

// Элементы списка
.site-list {
    display: flex;
    flex-direction: column;

    padding: 0;
    padding-top: 30px;

    list-style: none;

    text-transform: uppercase;

    align-items: center;
}
// Убираем отступ сверху на десктопе
@media (min-width: @desktop-width) {
    .site-list {
        display: flex;
        flex-direction: row;

        padding-top: 0;

        justify-content: space-between;
    }
}

// Расширяем list-link на всю ширину
.site-list__link {
    width: 100%;

    text-decoration: none;

    color: #fff;
}

.site-list__item {
    padding: 15px 0;
}
// Задаем жадность list-item на десктопе
@media (min-width: @desktop-width) {
    .site-list__item {
        padding: 0 0;

        text-align: center;

        flex-grow: 1;
    }
}

// Изменяем порядок списка (лого наверх)
.site-list__item-logo {
    padding-top: 0;
    order: -1;
}
// Возвращяем лого на место на десктопе
@media (min-width: @desktop-width) {
    .site-list__item-logo {
        text-align: center;

        order: unset;
        flex-grow: 3;
    }
}

