.swiper-slide__img--partners {
	text-align: center;
	object-fit: contain;
}
@media (min-width: @desktop-width) {
	.partners__swiper-buttons {
		display: none;
	}
}

.main-text--center {
	text-align: center;
}