.swiper-slide__img--partners {
	text-align: center;
	object-fit: contain;
}
@media (min-width: @desktop-width) {
	.partners__swiper-buttons {
		display: none !important;
	}
}

.partners-offer {
	margin-top: 30px !important;
}
@media (min-width: @desktop-large) {
	.partners-offer {
		margin-top: 0 !important;
	}
	.partners-offer--order-1 {
		margin-top: 0;
		order: -1;
	}
}
.swiper-container--partners {
	margin-top: 0 !important;
}